/* Styles for the Header React component */
.header {
  background-color: black;
}

.contactLink{
  margin-left: 10px;
  width:300px;
  color: white;
}
.log{
  margin-left: 450px;
  color: white;
}
.backtohome{
	color: white;
	margin-left: 400px;
}
