

.Header {
  border-bottom: 1px solid grey;
}

.Header ul {
  margin:0px;
}

.Header ul li {
  padding: 10px;
  margin-right: 20px;
  font-size: 150%;
  font-weight: bold;
  /* Add properties below */
  display: inline-block;
}
