.review {
  margin-bottom: 5px;
  font-size: 150%;
}

.review .MuiTableCell-root {
  font-size: 0.75em;
  color: darkslategray;
}

.reviewHistory {
  background-color: white;
  
  /* Add properties below */
  border-bottom: 1px solid grey;
  min-height: 100px;
  overflow: auto;
  width: 600px;
  }

.reviewIconContainer{
  width: 80px;
  float: left;
}

.reviewIcon {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.reviewContent {
  margin: 0px;

  /* Add properties below */
  width: 600px;
}

